@model IEnumerable<MovieMessenger.Models.ChatSession>

@{
    ViewData["Title"] = "ChatsList";
}
<head>
    <script>
        document.cookie = "username=@ViewData["user"]";
    </script>
</head>
<h2>ChatsList</h2>
<div>
    
    
    @Html.ActionLink("New Chat",
    "NewChatOptions",
     "ChatSessions",
      new {user= ViewData["user"] }, null) <!--DEfault to alex for now-->
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)//is the chatters name in from or to? how to protect from duplicates
        {
            
            //var writerFrom = new System.IO.StringWriter();
            //Html.DisplayFor(modelItem => item.From).WriteTo(writerFrom, HtmlEncoder);
            var params0 = new Dictionary<string, string>
    {
        { "From",item.From},{"To", item.To}

     };
            <tr>
                <td>
                    @if (item.To != ViewData["user"].ToString()) 
                    {
                        <a asp-action="OpenChat" asp-all-route-data="params0"> @Html.DisplayFor(modelItem => item.To)</a>
                    }
                    else
                    {
                    <a asp-action="OpenChat" asp-all-route-data="params0"> @Html.DisplayFor(modelItem => item.From)</a>
                    }
                </td>

                <td>

                    <a asp-action="Delete" asp-route-id="@item.ToString()">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


